.btn {
  max-width: 6rem;
  height: 2rem;

  color: var(--color--platinum);
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:disabled {
  opacity: 0.4;
}
